<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li><h1>Colegio Universitario IES</h1>-<h3>Año: 2015 a 2018</h3></li>
      <p>Tecnicatura en Diseño Gráfico Publicitario</p>
    </ul>
    <ul>
      <li><h1>Argentina Programa</h1>-<h3>Año: 2022</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vitae voluptatem facere corporis nemo harum omnis sit adipisci odio quas cumque hic dolores, quam optio dolorum, laborum facilis aliquid est!</p>
    </ul>
    <ul>
      <li><h1>idiomas</h1>-</li>
      <p>Inglés Intermedio: lecto-comprensión </p>
      <p>Portugués Intermedio: lecto-comprensión </p>
    </ul>
  </div>


</div>

